body {
	background-color: whitesmoke !important;
}

.top {
	margin: 50px;
}

.ui .grid{
	background-color: rgba(0,0,0,0.03) !important;
}

.compare.ui.grid {
	margin-top: 25px;
}

.row .metric {
	margin-top: 20px;
}

#card1.row.extra.content {
	margin-top: -50px !important;
	margin-bottom: -15px !important;
}
#card2.row.extra.content {
	margin-top: -50px !important;
	margin-bottom: -15px !important;
}
