<!DOCTYPE html>
<html>

<head>
    <title>Compare View</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>

    <div class="compare ui grid">
        <div class="centered row">
            <div class="fifteen wide column">
                <div id="card" class="ui grid ui card fluid">
                    <div class="row" style="height: 65px">
                        <div id="a1-1" class="middle aligned four wide column">
                        </div>
                        <div class="middle aligned center aligned six wide column">
                            <select id="a1-2" class="ui search dropdown" onChange="compareListener()">
                            </select>
                        </div>
                        
                        <div" class="middle aligned center aligned six wide column">
                            <select id="a1-3" class="ui search dropdown" onChange="compareListener()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="compare ui grid">
        <div class="centered row">
            <div class="fifteen wide column">
                <div id="card1" class="ui grid ui card fluid">
                    <div class="content">
                        <div class="center aligned middle aligned column">
                            Company Information
                        </div>
                    </div>
                    <div class="row extra content">
                    </div>
                    <div class="row" style="height: 65px">
                        <div id="t1-1" class="middle aligned four wide column">
                            Ticker
                        </div>
                        <div id="t1-2" class="middle aligned center aligned six wide column">
                        </div>
                        <div id="t1-3" class="middle aligned center aligned six wide column">
                        </div>
                    </div>
                    <div class="row">
                        <div id="n1-1" class="middle aligned four wide column">
                            Company Name
                        </div>
                        <div id="n1-2" class="middle aligned center aligned six wide column"></div>
                        <div id="n1-3" class="middle aligned center aligned six wide column"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="compare ui grid">
        <div class="centered row">
            <div class="fifteen wide column">
                <div id="card2" class="ui grid ui card fluid">
                    <div class="content">
                        <div class="center aligned middle aligned column">
                            Dividend Information
                        </div>
                    </div>
                    <div class="row extra content">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</body>

</html>

<!-- 
<div role="combobox" aria-expanded="false" class="ui fluid multiple search selection dropdown">
    <input type="text" aria-autocomplete="list" autoComplete="off" class="search" tabindex="0" value="" />
    <span class="sizer"></span>

    <div class="default text" role="alert" aria-live="polite">Select Country</div><i aria-hidden="true" class="dropdown icon"></i>

    <div aria-multiselectable="true" role="listbox" class="menu transition">
        <div style="pointer-events:all" role="option" aria-checked="false" aria-selected="true" class="selected item">
            <span class="text">Afghanistan</span>
        </div>
    </div>
</div>
-->